<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'qcaadmin/style.css' %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>QCA Simulations</title>
        
        <script type="text/javascript" src="{% static 'qcaadmin/angular.js' %}"></script> 
        <!--<script type="text/javascript" src="{% static 'qcaadmin.js' %}"></script> -->
    </head>
    {% verbatim %}
    <!--<body ng-app="QCAAdmin">-->
    <body>
        <table class="maintable"><tr>
            <td class="sidebar">
                <table class="sidebartable">
                    <tr><td class="title">QCA Simulations</td></tr>
                    <tr><td class="simlist"><div class="simlistcontainer">
                        <table class="simtable">
                            <tr>
                                <td class="blank" colspan="5">GHZ State</td>
                            </tr>
                            <tr>
                                <td class="blank"></td>
                                <td colspan="2">102</td>
                                <td colspan="2">150</td>
                            </tr>
                            <tr>
                                <td class="blank"></td>
                                <td>Blk</td>
                                <td>Swp</td>
                                <td>Blk</td>
                                <td>Swp</td>
                            </tr>
                            <tr>
                                <td>X</td>
                                <td class="computing"><div class="icon"></div></td>
                                <td class="uncomputed"><div class="icon"></div></td>
                                <td class="uncomputed"><div class="icon"></div></td>
                                <td class=""><div class="icon"></div></td>
                            </tr>
                            <tr>
                                <td>H</td>
                                <td class="uncomputed"><div class="icon"></div></td>
                                <td class="" style="background:red;"><div class="icon"></div></td>
                                <td class=""><div class="icon"></div></td>
                                <td class="uncomputed"><div class="icon"></div></td>
                            </tr>
                             <tr>
                                <td>HX</td>
                                <td class="uncomputed"><div class="icon"></div></td>
                                <td class="" style="background:blue;"><div class="icon"></div></td>
                                <td class="uncomputed"><div class="icon"></div></td>
                                <td class="uncomputed"><div class="icon"></div></td>
                            </tr>                       
                            <tr>
                                <td>HT</td>
                                <td class="computing"><div class="icon"></div></td>
                                <td class="uncomputed"><div class="icon"></div></td>
                                <td class=""><div class="icon"></div></td>
                                <td class="uncomputed"><div class="icon"></div></td>
                            </tr>
                            <tr>
                                <td>HTX</td>
                                <td class="uncomputed"><div class="icon"></div></td>
                                <td class="uncomputed"><div class="icon"></div></td>
                                <td class="computing"><div class="icon"></div></td>
                                <td class=""style="background:#0F0;" ><div class="icon"></div></td>
                            </tr>
                        </table>
                    </div></td></tr>
                    <tr><td class="computestatus"><div class="icon spingear"></div> 7 of 8 simulations running</td></tr>
                    <tr><td class="icsearchbar"><div class="icon spyglass"></div><input type="text" placeholder="Search Initial Conditions"></input><div class="icon plus"></div></td></tr>
                    <tr><td class="iclist"><div class="iclistcontainer">
                            <div>GHZ State <span>25 sites</span><div class="icon spingear"></div></div>
                            <div class="selected">W State <span>25 sites</span><div class="icon"></div></div>
                            <div>Left excitation <span>25 sites</span><div class="icon"></div></div>
                            <div>Right excitation <span>25 sites</span><div class="icon spingear"></div></div>
                            <div class="selected">Left hadamard <span>25 sites</span><div class="icon spingear"></div></div>
                            <div>Right hadamard<span>25 sites</span><div class="icon"></div></div>
                        </div></td></tr>
                </table>
            </td>
            <td class="content">
                <p ng-show="loaded()"  ng-dblclick="reduce()" >
                    <span plot="'Inv. Participation Ratio'" x="plotx" y="invpy" select="[selectedData,selectedRow]"></span>
                    <span plot="'Average Disparity'" x="plotx" y="disparity"  select="[selectedData,selectedRow]"></span>
                    <span plot="'Density'" x="plotx" y="density" select="[selectedData,selectedRow]"></span>
                    <span plot="'Clustering'" x="plotx" y="clustering"  select="[selectedData,selectedRow]"></span>
                </p> 
                <p ng-show="loaded() && selectedData < 0">Click an iteration row to show the mutual information network.</p>
                <p ng-show="loaded() && selectedData >= 0" network></p>
                <p ng-show="loaded() && selectedData >= 0" histogram></p>

                <div class="qtablecontainer">
                <div ng-show="loaded()"  style="overflow-x:auto;" ng-repeat="rows in displays track by $index">
                    <table class="quantum" ng-repeat="display in rows track by $index" ng-show="$parent.showEvolution">
                        <tbody ng-class="{'highlight': isSelectRow($parent.$index,$index) }" ng-click=" selectRow($parent.$index,$index)" >
                        <tr>
                            <td style="background-color:{{ col.qbit }}; border-width:{{ col.border }}px;" ng-repeat-start="col in display track by $index" ng-click="qcaClickAction($index)" ng-class="{maxmixed: col.maxmixed}"></td>
                            <td class="schmidt" style="background-color:{{ col.schmidt }}" ng-repeat-end></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </td>
        </tr></table>
    </body>
    {% endverbatim %}
</html>
